@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

.iconButton{
    border: 2px solid transparent;
    border-radius: 22px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 25%);
    max-width: 100px;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    padding: 15px 0 8px;
}

.active{
    background-color: #D7EAFD;
    border: 2px solid #86BEF3;
    box-shadow: none;
}

.text{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 13px;
    margin: 5px auto 0;
}

.img{

}