@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

.container {
    border-radius: 22px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 25%);
    margin: 32px auto 0;
    max-width: 353px;
    padding: 28px 113px;
    text-align: center;
    box-sizing: border-box;
}

.container:hover {
    cursor: pointer;
}

.quote {
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.41px;
    font-weight: 400;
    color: #000000;
    display: inline-block;
}

.author {
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.41px;
    font-weight: 400;
    color: #000000;
    display: block;
}